name: Build for Pull Request

on:
  pull_request:
permissions:
  contents: read
  actions: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v4

      - name: Set Up Node
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run Checks
        run: npm run checks

      - name: Test
        run: npm run test

      - name: Publish Test Results
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
         name: JEST Tests
         path: 'reports/jest-*.xml'
         reporter: jest-junit

      - name: Publish Test Coverage
        uses: lucassabreu/comment-coverage-clover@main
        with:
          file: ./coverage/clover.xml